@import "../../styles/general.scss";

// General Styles
.main {
  width: 100vw;
  background: $dark-blue;

  &.main--home {
    height: 100%;
    max-width: 1200px;
    display: grid;
    margin: 0 auto;
    grid-gap: 16px;
    padding: 32px;
    box-sizing: border-box;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;

    @media (max-width: 850px) {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 200px;
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 150px;
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
      grid-auto-rows: 150px;
    }

    .home__header {
      grid-column: auto / span 4;
      grid-row: auto / span 1;

      h1 {
        font-size: 72px;
        color: white;
        font-weight: 700;
        font-family: "Titillium Web", sans-serif;
      }
    }
  }

  &.main--post {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    box-sizing: border-box;
  }
}

footer.main__footer {
  width: 100%;
  padding: 12px 48px 48px;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.3;
}
