// Light Theme
$color-light-text: #263238;
$color-light-background: #fafafa;
$color-light-complimentary: #90a4ad;

// Dark Theme
$color-dark-text: #fafafa;
$color-dark-background: #263238;
$color-dark-complimentary: #f7de08;