footer {
  width: 100%;
  background: #eff1f3;
  padding: 32px 48px;
  color: #223843;
  text-align: center;
  box-sizing: border-box;

  p {
    font-size: 15px;
    max-width: 60ch;
    margin: 0 auto 24px auto;
  }

  small {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
  }
}
