@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700,400i&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Kulim+Park&display=swap");
@import url("https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap");

$light-blue: rgb(220, 237, 255);
$dark-blue: rgb(25, 43, 63);
$color-white: #fff;
html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  background: $dark-blue;
  overflow: hidden;
  cursor: none;
  * {
    box-sizing: border-box;
    cursor: none;
  }

  a {
    cursor: none;
  }
}
