@import "variables";
@import "typography";
@import "footer";

body {
  font-family: "Kulim Park", cursive;
  margin: 0;
  box-sizing: border-box;
  background: #fcfaf9;
  color: $color-black;
}

header {
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  align-items: center;
  position: sticky;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 24px;
  height: 128px;
  & > div {
    width: 80px;
    height: 80px;
    display: flex;
    background: #fcfaf9;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }
  svg {
    width: 42px;
  }
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 42px;
  line-height: 1.1;
  margin: 42px 0 24px 0;
  text-align: center;
}

p {
  font-size: 18px;
  margin: 16px 0;
  line-height: 1.5;
  font-weight: 300;
}

article {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.info-stripe {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .info-stripe__block {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 12px;
    position: relative;
    margin: 0 10px;

    &:after {
      height: 28px;
      position: absolute;
      width: 1px;
      background: $color-black;
      opacity: 0.1;
      content: "";
      right: -10px;
    }

    &.info-stripe__block--clickable {
      cursor: pointer;
      transition: all 0.24s;
      color: $color-blue;

      &:hover,
      &.opened {
        background-color: #d0eff3;
      }
    }

    &:last-child {
      border-right: none;

      &:after {
        display: none;
      }
    }

    svg {
      width: 21px;
      margin-right: 8px;
      fill: $color-blue;
    }
  }
}

.nav-stripe {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-stripe__block {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:last-child {
      border-right: none;
    }

    span {
      font-size: 17px;
      padding: 12px;
    }

    svg {
      width: 32px;
      margin-right: 8px;
      transition: all 0.24s;
      fill: $color-blue;
    }

    &:hover {
      svg {
        transform: translateX(4px);
      }
    }
  }
}
